opennms-config/src/main/castor/capsd-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://xmlns.opennms.org/xsd/config/capsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:typ="http://xmlns.opennms.org/xsd/types"
  xmlns:this="http://xmlns.opennms.org/xsd/config/capsd" xmlns:ns2="http://www.w3.org/1999/xhtml" xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty">
  <annotation>
    <documentation>XML Schema for the capsd-configuration.xml configuration file.</documentation>
  </annotation>

  <import namespace="http://xmlns.opennms.org/xsd/types" schemaLocation="types.xsd" />

  <element name="capsd-configuration">
    <annotation>
      <documentation>Top-level element for the capsd-configuration.xml configuration file.</documentation>
    </annotation>

    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" ref="this:protocol-plugin" />
        <element maxOccurs="1" minOccurs="0" ref="this:smb-config" />
        <element maxOccurs="unbounded" minOccurs="0" ref="this:ip-management" />
      </sequence>
      <attribute ref="this:rescan-frequency" default="0" use="optional" />
      <attribute ref="this:initial-sleep-time" default="0" use="optional" />
      <attribute ref="this:max-suspect-thread-pool-size" use="required" />
      <attribute ref="this:max-rescan-thread-pool-size" use="required" />
      <attribute ref="this:management-policy" default="managed" use="optional" />
      <attribute ref="this:abort-protocol-scans-if-no-route" default="false" use="optional" />
      <attribute ref="this:delete-propagation-enabled" use="optional" default="true" />
      <attribute ref="this:xmlrpc" default="false" use="optional" />
    </complexType>
  </element>

  <element name="protocol-plugin">
    <annotation>
      <documentation>protocol plugin definition</documentation>
    </annotation>

    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" ref="this:protocol-configuration" />
        <element maxOccurs="unbounded" minOccurs="0" ref="this:property" />
      </sequence>
      <attribute ref="this:protocol" use="required" />
      <attribute ref="this:class-name" use="required" />
      <attribute ref="this:scan" default="on" use="optional" />
      <attribute ref="this:user-defined" use="optional" default="false" />
    </complexType>
  </element>

  <element name="protocol-configuration">
    <annotation>
      <documentation>IP address/range-specific protocol configuration.</documentation>
    </annotation>

    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" ref="this:specific" />
        <element maxOccurs="unbounded" minOccurs="0" ref="typ:range" />
        <element maxOccurs="unbounded" minOccurs="0" ref="this:property" />
      </sequence>
      <attribute ref="this:scan" default="on" use="optional" />
      <attribute ref="this:user-defined" use="optional" default="false" />
    </complexType>
  </element>

  <element name="specific" type="string">
    <annotation>
      <documentation>IP address to which the protocol configuration applies.</documentation>
    </annotation>
  </element>

  <element name="include-url" type="string">
    <annotation>
      <documentation>URL of a file containing list of IP addresses. The file should be a plain text file with one IP address listed per line.</documentation>
    </annotation>
  </element>

  <element name="property">
    <annotation>
      <documentation>Key/value pair</documentation>
    </annotation>

    <complexType>
      <attribute ref="this:key" use="required" />
      <attribute ref="this:value" use="required" />
    </complexType>
  </element>

  <element name="smb-config">
    <annotation>
      <documentation>SMB configuration</documentation>
    </annotation>

    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="1" ref="this:smb-auth" />
      </sequence>
    </complexType>
  </element>

  <element name="smb-auth">
    <annotation>
      <documentation>SMB authentication. SMB authentication is not required by
        jCIFS in order to determine the NetBIOS name for a remote host which
        supports SMB. However it may be required in order to
        enumerate the
        hosts's list of file shares. It is during this enumeration that we are
        able to determine the operating system and MAC address of the remote
        system. SMB URLs (for enumerating file
        shares) are formatted as follows:
        If no matching SmbAuth, object URL has format:
        "smb://&lt;netbios_name&gt;". For server authentication, URL has format:
        "smb://&lt;userid&gt;:&lt;password&gt;@&lt;netbios_name&gt;". For domain
        authentication, URL has format:
        "smb://&lt;domain&gt;;&lt;userid&gt;:&lt;password&gt;@&lt;netbios_name&gt;"
      </documentation>
    </annotation>

    <complexType>
      <annotation>
        <documentation>Content of smb-auth is the NetBIOS (domain or server) name.</documentation>
      </annotation>

      <simpleContent>
        <extension base="string">
          <attribute ref="this:user" use="required" />
          <attribute ref="this:password" use="required" />
          <attribute ref="this:type" use="required" />
        </extension>
      </simpleContent>
    </complexType>
  </element>

  <element name="ip-management">
    <annotation>
      <documentation>IP Management. Overrides default IP management policy for the specified set of IP addresses</documentation>
    </annotation>

    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" ref="this:specific" />
        <element maxOccurs="unbounded" minOccurs="0" ref="typ:range" />
        <element maxOccurs="unbounded" minOccurs="0" ref="this:include-url" />
      </sequence>
      <attribute ref="this:policy" default="managed" use="optional" />
    </complexType>
  </element>

  <attribute name="rescan-frequency" type="long">
    <annotation>
      <documentation>Interval (in milliseconds) between IP address
        re-scans.</documentation>
    </annotation>
  </attribute>

  <attribute name="initial-sleep-time" type="long">
    <annotation>
      <documentation>Interval (in milliseconds) between Capsd startup and
        the start of rescan processing.</documentation>
    </annotation>
  </attribute>

  <attribute name="max-suspect-thread-pool-size">
    <annotation>
      <documentation>Maximum number of threads available for processing
        'newSuspect' events from discovery.</documentation>
    </annotation>

    <simpleType>
      <restriction base="int">
        <minInclusive value="1" />
      </restriction>
    </simpleType>
  </attribute>

  <attribute name="max-rescan-thread-pool-size">
    <annotation>
      <documentation>Maximum number of threads available for rescanning
        managed interfaces.</documentation>
    </annotation>

    <simpleType>
      <restriction base="int">
        <minInclusive value="1" />
      </restriction>
    </simpleType>
  </attribute>

  <attribute name="management-policy">
    <annotation>
      <documentation>Default management policy.</documentation>
    </annotation>

    <simpleType>
      <restriction base="string">
        <pattern value="(managed|unmanaged)" />
      </restriction>
    </simpleType>
  </attribute>

  <attribute name="abort-protocol-scans-if-no-route">
    <annotation>
      <documentation>Flag which determines Capsd's behavior in the event
        that a NoRouteToHost exception is generated during a protocol plugin
        scan of an interface. If true, Capsd will abort the protocol
        scanning process for the interface.</documentation>
    </annotation>

    <simpleType>
      <restriction base="string">
        <pattern value="(true|false)" />
      </restriction>
    </simpleType>
  </attribute>

  <attribute name="delete-propagation-enabled">
    <annotation>
      <documentation>Determine if deleting an service propagates to
        deleting the interface if the service is the only one remaining on
        the interface. Likewise for the only interface on a
        node.</documentation>
    </annotation>

    <simpleType>
      <restriction base="string">
        <pattern value="(true|false)" />
      </restriction>
    </simpleType>
  </attribute>

  <attribute name="xmlrpc">
    <annotation>
      <documentation>Flag which indicates if an external XMLRPC server has
        to be notified with any event process errors.</documentation>
    </annotation>

    <simpleType>
      <restriction base="string">
        <pattern value="(true|false)" />
      </restriction>
    </simpleType>
  </attribute>

  <attribute name="protocol" type="string">
    <annotation>
      <documentation>protocol name</documentation>
    </annotation>
  </attribute>

  <attribute name="class-name" type="string">
    <annotation>
      <documentation>Java class name of the plugin used for testing this protocol.</documentation>
    </annotation>
  </attribute>

  <attribute name="scan">
    <annotation>
      <documentation>Controls whether this protocol is scanned by Capsd. The default is 'on'.</documentation>
    </annotation>

    <simpleType>
      <restriction base="string">
        <pattern value="(on|off)" />
      </restriction>
    </simpleType>
  </attribute>

  <attribute name="user-defined">

    <annotation>
      <documentation>Specifies if the protocol was added by the user via the UI.</documentation>
    </annotation>

    <simpleType>
      <restriction base="string">
        <pattern value="(true|false)" />
      </restriction>
    </simpleType>
  </attribute>

  <attribute name="key" type="string" />

  <attribute name="value" type="string" />

  <attribute name="user" type="string">
    <annotation>
      <documentation>User ID</documentation>
    </annotation>
  </attribute>

  <attribute name="password" type="string">
    <annotation>
      <documentation>Password</documentation>
    </annotation>
  </attribute>

  <attribute name="type">
    <annotation>
      <documentation>Authentication type</documentation>
    </annotation>

    <simpleType>
      <restriction base="string">
        <pattern value="(domain|server)" />
      </restriction>
    </simpleType>
  </attribute>

  <attribute default="managed" name="policy">
    <annotation>
      <documentation>Management policy</documentation>
    </annotation>

    <simpleType>
      <restriction base="string">
        <pattern value="(managed|unmanaged)" />
      </restriction>
    </simpleType>
  </attribute>
</schema>
