integrations/opennms-integration-remedy/src/main/wsdl/ITN_CTM_Support_Group_Assoc_WS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	targetNamespace="ITN_CTM_Support_Group_Assoc_WS" 
	xmlns:s0="ITN_CTM_Support_Group_Assoc_WS" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="ITN_CTM_Support_Group_Assoc_WS">
   <xsd:element name="GetList" type="s0:InputMapping1"/>
   <xsd:complexType name="InputMapping1">
    <xsd:sequence>
     <xsd:element name="Qualification" type="xsd:string"/>
     <xsd:element name="startRecord" type="xsd:string"/>
     <xsd:element name="maxLimit" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="GetListResponse" type="s0:OutputMapping1"/>
   <xsd:complexType name="OutputMapping1">
    <xsd:sequence>
     <xsd:element maxOccurs="unbounded" name="getListValues">
      <xsd:complexType>
       <xsd:sequence>
        <xsd:element name="Support_Group_Assoc_LookUp_ID" type="xsd:string"/>
        <xsd:element name="Submitter" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Submit_Date" type="xsd:dateTime"/>
        <xsd:element name="Login_ID" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Last_Modified_By" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Last_Modified_Date" type="xsd:dateTime"/>
        <xsd:element name="Status-SGA" type="s0:Status-SGAType"/>
        <xsd:element minOccurs="0" name="Status-History" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Assignee_Groups" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Mode" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Vendor_Assignee_Groups" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1G_InitComplete" nillable="true" type="s0:z1G_InitCompleteType"/>
        <xsd:element minOccurs="0" name="z1G_DefaultCompany" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1G_UnrestrictedAccessMember" nillable="true" type="s0:z1G_UnrestrictedAccessMemberType"/>
        <xsd:element minOccurs="0" name="zTempChar7" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_FunctionalRoleAlias" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_UsedForLastCount" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_DefaultCompanyAction" nillable="true" type="s0:z1G_InitCompleteType"/>
        <xsd:element minOccurs="0" name="z1D_DefaultCompanyInteger" type="xsd:int"/>
        <xsd:element minOccurs="0" name="z1D_SupportGroupAssociationRole" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Support_Group_Association_Role_Display" nillable="true" type="s0:Support_Group_Association_Role_DisplayType"/>
        <xsd:element name="Company" type="xsd:string"/>
        <xsd:element name="Support_Organization" type="xsd:string"/>
        <xsd:element name="Support_Group_Name" type="xsd:string"/>
        <xsd:element name="Full_Name" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_Char01" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_Char02" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_Char03" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_Char04" type="xsd:string"/>
        <xsd:element name="Default" nillable="true" type="s0:DefaultType"/>
        <xsd:element minOccurs="0" name="z1D_Action" type="xsd:string"/>
        <xsd:element default="0" minOccurs="0" name="z1D_Integer01" type="xsd:int"/>
        <xsd:element name="Support_Group_ID" type="xsd:string"/>
        <xsd:element name="Person_ID" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Shift_Role_Company" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_Char05" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_Char06" type="xsd:string"/>
        <xsd:element name="Status-SGP" nillable="true" type="s0:Status-SGAType"/>
        <xsd:element default="SGA" minOccurs="0" name="Support_Group_Association_ID" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_Lastcount" type="xsd:int"/>
        <xsd:element minOccurs="0" name="Role" nillable="true" type="s0:RoleType"/>
        <xsd:element minOccurs="0" name="z1D_Previous_Operation" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_Date01" type="xsd:dateTime"/>
        <xsd:element minOccurs="0" name="Shifts_Flag" nillable="true" type="s0:DefaultType"/>
        <xsd:element minOccurs="0" name="Support_Group_Shift_Name" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_Close_Dialog" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Support_Group_Shift_ID" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_Page_Field_Selected-V" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_Support_Group_ID" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_Support_Group_Shift_ID" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Shift_Name" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Shift_Role_Group_Name" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Shift_Role_Organization" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_Support_Group_Shift_ID2" type="xsd:string"/>
        <xsd:element name="Assignment_Availability" nillable="true" type="s0:DefaultType"/>
        <xsd:element minOccurs="0" name="Availability_Hold" nillable="true" type="s0:DefaultType"/>
        <xsd:element name="Support_Group_Association_Role" type="xsd:string"/>
        <xsd:element minOccurs="0" name="z1D_Button_Action" type="xsd:string"/>
        <xsd:element name="Support_Group_Role" type="xsd:string"/>
        <xsd:element name="Uses_SLA" nillable="true" type="s0:DefaultType"/>
        <xsd:element name="Uses_OLA" nillable="true" type="s0:DefaultType"/>
        <xsd:element minOccurs="0" name="z1D_Description" type="xsd:string"/>
        <xsd:element name="On_Call_Group_Flag" nillable="true" type="s0:DefaultType"/>
        <xsd:element minOccurs="0" name="Navigation_Menu01" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Navigation_Menu02" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Navigation_Menu03" type="xsd:string"/>
        <xsd:element minOccurs="0" name="Display_Support_Group" nillable="true" type="s0:DefaultType"/>
        <xsd:element minOccurs="0" name="Display_Support_Group_Pref" nillable="true" type="s0:DefaultType"/>
        <xsd:element minOccurs="0" name="Display_Support_Group_Current" nillable="true" type="s0:DefaultType"/>
        <xsd:element minOccurs="0" name="Task_RemedyIT_Visible" nillable="true" type="s0:z1G_InitCompleteType"/>
        <xsd:element minOccurs="0" name="CanEditTaskDates" nillable="true" type="s0:DefaultType"/>
       </xsd:sequence>
      </xsd:complexType>
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="Status-SGAType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Proposed"/>
     <xsd:enumeration value="Enabled"/>
     <xsd:enumeration value="Offline"/>
     <xsd:enumeration value="Obsolete"/>
     <xsd:enumeration value="Archive"/>
     <xsd:enumeration value="Delete"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="z1G_InitCompleteType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Yes"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="z1G_UnrestrictedAccessMemberType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="false_0"/>
     <xsd:enumeration value="true_1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Support_Group_Association_Role_DisplayType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Associate Member"/>
     <xsd:enumeration value="Member"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DefaultType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Yes"/>
     <xsd:enumeration value="No"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RoleType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Facilitator"/>
     <xsd:enumeration value="Support Group Admin"/>
     <xsd:enumeration value="Support Group Lead"/>
     <xsd:enumeration value="Support Group Manager"/>
     <xsd:enumeration value="Infrastructure Change Manager"/>
     <xsd:enumeration value="Infrastructure Change Coordinator"/>
     <xsd:enumeration value="Infrastructure Change Approver"/>
     <xsd:enumeration value="Change Reviewer"/>
     <xsd:enumeration value="Request Manager"/>
     <xsd:enumeration value="Request Assignee"/>
     <xsd:enumeration value="Request Approver"/>
     <xsd:enumeration value="SRD Approver"/>
     <xsd:enumeration value="Knowledge Manager"/>
     <xsd:enumeration value="Purchase Requisition Approver"/>
     <xsd:enumeration value="Availability Manager"/>
     <xsd:enumeration value="Incident Manager"/>
     <xsd:enumeration value="Problem Manager"/>
     <xsd:enumeration value="Service Level Manager"/>
     <xsd:enumeration value="Release Coordinator"/>
     <xsd:enumeration value="Release Approver"/>
     <xsd:enumeration value="Broadcast Submitter"/>
     <xsd:enumeration value="Change Manager"/>
     <xsd:enumeration value="Configuration Manager"/>
     <xsd:enumeration value="Procurement Manager"/>
     <xsd:enumeration value="Notification Issuance Manager"/>
     <xsd:enumeration value="Requests Manager"/>
     <xsd:enumeration value="IT Senior Management"/>
     <xsd:enumeration value="IT Director"/>
     <xsd:enumeration value="CIO"/>
     <xsd:enumeration value="CEO"/>
     <xsd:enumeration value="Work Order Assignee"/>
     <xsd:enumeration value="Work Order Manager"/>
     <xsd:enumeration value="Knowledge Management Approver"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="AuthenticationInfo" type="s0:AuthenticationInfo"/>
   <xsd:complexType name="AuthenticationInfo">
    <xsd:sequence>
     <xsd:element name="userName" type="xsd:string"/>
     <xsd:element name="password" type="xsd:string"/>
     <xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
     <xsd:element minOccurs="0" name="locale" type="xsd:string"/>
     <xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
 </wsdl:types>

   <wsdl:message name="GetListSoapOut">

      <wsdl:part element="s0:GetListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetListSoapIn">

      <wsdl:part element="s0:GetList" name="parameters">

      </wsdl:part>

      <wsdl:part element="s0:AuthenticationInfo" name="ARAuthenticate">

      </wsdl:part>


   </wsdl:message>

   <wsdl:portType name="QueryList_ServicePortType">

      <wsdl:operation name="GetList">

         <wsdl:input message="s0:GetListSoapIn">

         </wsdl:input>

         <wsdl:output message="s0:GetListSoapOut">

         </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="QueryList_ServiceSoapBinding" type="s0:QueryList_ServicePortType">

      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="GetList">

         <soap:operation soapAction="ITN_CTM_Support_Group_Assoc_WS/GetList" style="document"/>

         <wsdl:input>

            <soap:header message="s0:GetListSoapIn" part="ARAuthenticate" use="literal" required="true">

            </soap:header>

            <soap:body use="literal"/>

         </wsdl:input>

         <wsdl:output>

            <soap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ITN_CTM_Support_Group_Assoc_WSService">

  <wsdl:documentation>
Query operation  </wsdl:documentation>

      <wsdl:port binding="s0:QueryList_ServiceSoapBinding" name="QueryList_ServiceSoap">

         <soap:address location="http://172.20.0.76:8180/arsys/services/ARService?server=itts3h&amp;webService=ITN_CTM_Support_Group_Assoc_WS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>

